.galeria img {
    transition: all 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px  rgba(238, 203, 49, 0.4);
}
.galeria img:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 20px  rgba(238, 203, 49, 0.4);